NEXT_PUBLIC_SANITY_PROJECT_ID=t7hoictb
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-01-01
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_USE_DEMO_CONTENT=true
NEXT_PUBLIC_METRO_PHONE=
NEXT_PUBLIC_METRO_WHATSAPP=
SANITY_API_WRITE_TOKEN=
